<span class="text subcategory_title">Music for you</span>

<div class="mlist_box">

  <div class="mbox" *ngFor="let asset of assets">
    <img class="mimage" src = "{{asset.img}}">
    <span class="text mname">{{asset.name}}</span> <br>
    <span class="text mauth">{{asset.author}}</span>
  </div>
</div>

<span class="text subcategory_title">Listen again</span>

<div class="mlist_box">

  <div class="mbox" *ngFor="let asset of assets">
    <img class="mimage" src = "{{asset.img}}">
    <span class="text mname">{{asset.name}}</span> <br>
    <span class="text mauth">{{asset.author}}</span>
  </div>
</div>
