<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div *ngIf="!loggedIn" class = "loginnerBox">
    <button class="userButton" (click)="toLogin= true"></button>


    <div class="inpbox">
      <h1 class="text"> Register</h1>
      <input class="inputbar" [(ngModel)]="registername" placeholder="name" />
      <input class="inputbar" [(ngModel)]="registermail" placeholder="mail" />
      <input class="inputbar" [(ngModel)]="registerpassword" placeholder="password" />
      <button class="inoutbutton" (click)="registerButton()"> Submit </button>

      <h1 class="text">Or login:</h1>

      <input class="inputbar" [(ngModel)]="loginmail" placeholder="mail" />
      <input class="inputbar" [(ngModel)]="loginpassword" placeholder="password" />
      <button class="inoutbutton" (click)="loginButton()"> Submit </button>

    </div>
  </div>


  <div class = "mainbox" *ngIf="loaded && loggedIn">
    <!-- Side tab with main, search, etc. -->
    <app-sidebar (sender)="receiver($event)"></app-sidebar>
    <button class="userButton" (click)="logout()"></button>
    <!-- Screen for main scene. Changes with clicks on side tab. -->
    <div *ngIf="whichTab=='main'" class="tabbox">
      <app-maintab (sendId)="recieveId($event)" [assets]="assets" [last10]="tempLast10"></app-maintab>
    </div>

    <a *ngIf="whichTab=='search'" class="tabbox">
      <app-searchtab [assets]="assets" (sendId)="recieveId($event)"></app-searchtab>
    </a>

    <a *ngIf="whichTab=='albums'" class="tabbox">
      <app-albums (sendId)="recieveId($event)" [assets]="assets" [albums]="albums"></app-albums>
    </a>


    <a *ngIf="whichTab=='authors'" class="tabbox">
      <app-authors (sendId)="recieveId($event)" [assets]="assets" [albums]="albums" [authors]="authors"></app-authors>
    </a>
    <!-- Footer box with music player, etc. -->
    <div *ngIf="true">
      <app-footermbox class="footerbox" [currentId]="curId" [assets]="assets" [childFunction]="searchById"></app-footermbox>
    </div>

  </div>

</body>
</html>
