.imgbox{
  margin-left: 12px;
  margin-top: 12px;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.footerbox {
  display: flex;
  flex-direction: row;
}

.nameauth_ft{
  margin-left: 14px;
  margin-top: 23px;
}

.mname_ft{
  color: #FFFFFF;
  line-height: 9px;
  font-size: 17.5px;
  font-weight: 300;
}

.mauth_ft{
  line-height: 9px;
  font-weight: 500;
  font-size: 14.3px;
  color: #8A8A8A;
}

.playbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
  margin-left: 65.5px;
  width: 600px;
  height: 68px;
}

.button_ft{
  width: 38px;
  height: 38px;
  background-color: #78B6E2;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 9px;
}

.progressbar{
  margin-top: 12px;
  width: 550px;
  height: 6px;
  border-radius: 6px;
  background-color: #989898;
}

.mat-mdc-focus-indicator{
  color: #1E245A;
}

.player{
  margin-top: -5px;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}
.ngxAudioPlayer button {
  background-color: #007bff;
  color: #ff0000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.mdc-slider__track--inactive{
  background-color: red;
}

.mdc-slider__track--active{
  background-color: red;
}


